# API Gateway Configuration
NEXT_PUBLIC_API_GATEWAY_URL=your_api_gateway_url

# AWS S3 Configuration
NEXT_PUBLIC_S3_BUCKET_NAME=storeit-user-files
NEXT_PUBLIC_AWS_REGION=ap-south-1

# Next.js Configuration
NEXT_PUBLIC_APP_NAME=StoreIt
NEXT_PUBLIC_APP_VERSION=1.0.0

# Development Configuration
NODE_ENV=development
