# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SESSION_TOKEN=your_aws_session_token
AWS_REGION=ap-south-1

# AWS Cognito Configuration
USER_POOL_ID=your_user_pool_id
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

# DynamoDB Configuration
TABLE_NAME=storeit-files

# S3 Configuration
BUCKET_NAME=storeit-files-bucket

# Server Configuration
PORT=3001
NODE_ENV=development
